body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  color:rgb(255, 255, 255);
  
}

input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: #6a31ac;
  width: auto;
  height: 100px;
  text-align: center;
}

.background-gray {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.792);
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.612);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: rgb(255, 255, 255);
  background-color: buttonface;
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  cursor: pointer;
  max-width: 250px;
}